<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs')%>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs')%>
    <div class="container">
        <div class="main">
            <div class="categories">
                <h3>Жанры</h3>
                <a href="/">Имя жанра</a>
            </div>
            <div class="main-content">
                <h3>Фильмы и сериалы</h3>
                <div class="main-card">
                    <div class="card-left">
                        <div class="film-img">
                            <img src="" alt="">
                        </div>
                        <div class="film-info">
                            <a href="/">Название на русском</a>
                            <a href="/">Название на английском, год, время min</a>
                            <a href="/>">страна, жанр</a>
                            <button class="film-btn">
                                <img src="/" alt="">
                                Смотреть
                            </button>
                        </div>
                    </div>
                    <div class="card-right">   
                        <div class="film-rate">
                            <p>7.3</p>
                        </div>
                            <button class="film-btn">
                                <img src="/" alt="">
                                Сохранено
                            </button> 
                                <button class="film-btn">
                                    <img src="/" alt="">
                                    Буду смотреть
                                </button>
                    </div>
                </div>  
                <div class="pages">
                            <a href="/">1</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>